<div>
  <label class="offset-md-3" style="color:black"><th>Có {{bookList.length}} cuốn sách</th> </label>
<button [routerLink]="['/books', 'add']" class="btn btn-light offset-md-3"> Thêm sách mới </button>
</div>
<table class="col-5 col-md-5 offset-md-3 mt-1" border="1px" style="border: gray;" >
    <tr style="text-align: center">
      <th>#</th>
      <th>Tên sách</th>
      <th>Tác giả</th>
      <th></th>
    </tr>
  <tr *ngFor="let book of bookList; index as i">

    <td>{{i+1}}</td>
    <td><a [routerLink]="['/books', book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td style="text-align: center">
      <a (click)="deleteBook(i)" class="btn btn-light" >Xóa</a> |  <a class="btn btn-light" [routerLink]="['/books', book.id, 'edit']">Sửa</a>
    </td>
  </tr>
</table>

