<div class="col-6 col-md-6 offset-md-3" style="left: 50px">
  <i class=" faa-bounce fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-tada fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing-reverse fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-bounce fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-tada fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing-reverse fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-bounce fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-tada fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing-reverse fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-bounce fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-tada fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-burst fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-passing-reverse fa fa-heart animated" style="color: lightblue"></i>
  <i class="faa-flash fa fa-heart animated" style="color: lightblue"></i>
  <i class=" faa-bounce fa fa-heart animated" style="color: lightblue"></i>
</div>
<div class="newcontent col-9 col-md-9 offset-md-1 mt-1 ">
  <div class="col-6 col-md-3 offset-md-4">
    <h1 style="color: blueviolet">Hello World</h1>
  </div>
  <ng-content></ng-content>
  <router-outlet></router-outlet>
</div>


